@model IEnumerable<Vidly.Models.Rental>
@{
    ViewBag.Title = "Rentals";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("New", "New", "Rentals", null, new { @class = "btn btn-sm btn-success float-right" })
<br />
<table id="rentals" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Customer</th>
            <th scope="col">Movie</th>
            <th scope="col">Date Rented</th>
            <th scope="col">Date Returned</th>
            <th scope="col">Return</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#rentals").DataTable({
                ajax: {
                    url: "api/rentals",
                    dataSrc: "" // Used to a specific object within the JSON, only if applicable
                },
                columns: [
                    {
                        data: "customer.name",
                        render: function (data, type, rental) {
                            return "<a href='/customers/details/" + rental.customer.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "movie.title"
                    },
                    {
                        data: "dateRented"
                    },
                    {
                        data: "dateReturned",
                        render: function (data) {
                            if (data == null)
                                return "Not Returned";
                            return data;
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, rental) {
                            if (rental.dateReturned == null)
                                return "<i class='bi bi-trash3 js-return' data-rental-id=" + rental.id + "></i>";
                            return null;
                        }
                    }
                ]
            });

            $("#rentals").on("click", ".js-return", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to return this rental?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/rentals/" + button.attr("data-rental-id"),
                            method: "PUT",
                            success: function () {
                                window.location.assign("/rentals/");
                            }
                        });
                    }
                });
            });
        });
    </script>
}