<appSettings>
	<add key="MailServer" value="smtp.office365.com" />
	<add key="MailPort" value="587" />
	<add key="MailEncryption" value="STARTTLS" />
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>